article.post {
    .content, .ingress {
        p {
            @apply font-normal text-gray-800;
        }

        img {
            margin: 0 auto;
            @apply my-3;
        }

        ul {
            list-style: disc;
        }

        ol {
            list-style: decimal;
        }
    }
}
