@tailwind base;
@tailwind components;
body {
    @apply bg-gray-400;
}

.container {
    @apply mx-auto;
}

.btn {
    @apply font-bold py-2 px-4 rounded;

    &.btn-blue {
        @apply bg-blue-500 text-white;

        &:hover {
            @apply bg-blue-800;
        }
    }

    &.btn-teal {
        @apply bg-teal-500 text-white;

        &:hover {
            @apply bg-teal-800;
        }
    }

    &.btn-danger {
        @apply bg-red-500 text-white;

        &:hover {
            @apply bg-red-800;
        }
    }

    &.btn-success {
        @apply bg-green-500 text-white;

        &:hover {
            @apply bg-green-800;
        }
    }
}

.post {
    @apply mt-4;

    &:first-child {
        @apply mt-0;
    }

    section.ingress {
        @apply text-gray-800;
        a {
            color: inherit;
        }
        p {
            @apply py-2;
        }
    }
}

.member-categories li {
    &:last-child {
        @apply border-b-0;
    }
}

.custom-label input:checked + svg {
    display: block !important;
}

article.article {
    @apply p-4;

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }

    h5 {
        @apply text-xl;
    }

    h6 {
        @apply text-base;
    }
}

a {
    @apply text-blue-600;

    &:hover {
        @apply text-blue-300 cursor-pointer;
    }
}

input {
    &[type="text"],
    &[type="date"],
    &[type="datetime-local"],
    &[type="number"],
    &[type="email"] {
        @apply shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight max-w-lg;

        &:focus {
            @apply outline-none shadow-outline;
        }
    }
}

.items-start {
    align-items: flex-start;
}

aside.sidebar {
    @apply text-gray-800;
    align-items: flex-start;
    section {
        @apply mt-3;
        &:first-child {
            @apply mt-0;
        }

        h3 {
            @apply text-gray-800;
        }
    }
}

@tailwind utilities;
