@tailwind base;
@tailwind components;

@import 'post';

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-size: 16px;
}

p {
    font-family: 'Roboto Regular', sans-serif;
}

.modal {
    transition: opacity 0.25s ease;
}

body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}

.submenu {
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: 1024px) {
        width: 200px;
    }
}

.btn {
    @apply font-bold py-2 px-4 rounded;

    &.sm {
        @apply px-2 py-0;
    }

    &.btn-blue {
        @apply bg-blue-500 text-white;

        &:hover {
            @apply bg-blue-800;
        }
    }

    &.btn-teal {
        @apply bg-teal-500 text-white;

        &:hover {
            @apply bg-teal-800;
        }
    }

    &.btn-danger {
        @apply bg-red-500 text-white;

        &:hover {
            @apply bg-red-800;
        }
    }

    &.btn-success {
        @apply bg-green-500 text-white;

        &:hover {
            @apply bg-green-800;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.post {
    @apply mt-4;

    time {
        @apply text-gray-800;
    }

    &:first-child {
        @apply mt-0;
    }

    section.ingress {
        @apply text-gray-800;
        a {
            @apply text-blue-600;
        }

        p {
            @apply py-2;
        }
    }
}

.member-categories li {
    &:last-child {
        @apply border-b-0;
    }
}

.custom-label input:checked + svg {
    display: block !important;
}

article.article {
    @apply p-4;

    img, p > img {
        width: 100%;
        object-fit: contain;
        max-height: 400px;
        @apply mx-auto mt-6 mb-6;

        @media (min-width: 640px) {
            width: 90%;
        }

        @media (min-width: 1024px) {
            width: 75%;
        }
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }

    h5 {
        @apply text-xl;
    }

    h6 {
        @apply text-base;
    }
}

a {
    @apply text-blue-600;

    &:hover {
        @apply text-blue-300 cursor-pointer;
    }
}

input {
    &[type="text"],
    &[type="date"],
    &[type="datetime-local"],
    &[type="number"],
    &[type="email"],
    &[type="password"] {
        @apply shadow appearance-none border rounded py-3 px-3 text-xl text-gray-800 leading-tight max-w-lg mt-1;

        &:focus {
            @apply outline-none shadow-outline;
        }
    }

    &[type="date"] {
        @apply text-sm;
    }
}

.items-start {
    align-items: flex-start;
}

aside.sidebar {
    @apply text-gray-800;
    align-items: flex-start;

    section {
        @apply mt-3;
        &:first-child {
            @apply mt-0;
        }

        h3 {
            @apply text-gray-800;
        }
    }

    &:empty {
        display: none;
    }
}

label {
    @apply block text-gray-600 text-xl mt-3;
}

li.page-list-element, a.page-list-element {
    @apply p-2 mt-2 flex justify-between items-center border-b border-b-2 border-gray-200;
}

.menu-item {
    @apply block mt-4 text-teal-200 list-none;

    @media (min-width: 1024px) {
        @apply inline-block mt-0 mr-4;
    }

    &:hover {
        @apply text-white;
    }
}

.page-title {
    @apply text-3xl text-gray-800;
}

.page-subtitle {
    @apply text-2xl text-gray-800 mt-5;
}

@tailwind utilities;
